/*Setting the font READ ABOUT THIS https://blog.fontspring.com/2011/02/the-new-bulletproof-font-face-syntax*/
 @font-face{
     font-family: Comfortaa;
     src : url(../fonts/comfortaa.regular.ttf);
}
/*Applying font to the whole page*/
 body, html {
     font-family: "Comfortaa", sans-serif;
     margin: 0;
}

#wrapperFeatures{
    background-color: #daecf2;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#wrapperFeatures p{
    text-align: center;
    font-size: 2em;
    padding: 0 5% 20px 7%;
    margin: 0;
}

h2{
    font-weight: normal;
    display: block;
    font-size: 3em;
    text-align: center;
    margin: 0;
    padding: 20px 0;
}

.featuresImages{
    display: flex;
     margin: auto;
     width: 300px;
     transition: transform .3s;
}

#ssid{
    display: flex;
     margin: auto;
     width: 300px;
     height: 300px;
     border-style: solid;
     border-color: black;
     border-width: 4px;
     border-radius: 50%;
     transition: transform .3s;

}


.title{
    font-size: 2em;
}

.title > a{
    text-decoration: underline;
    color: black;
}

.title > a:hover{
    color: #9c9c9c;
}

#tagline{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#tagline p{
    font-weight: normal;
    font-size: 2em;
    margin: -8px;
}
