.footer {
  width: 100%;
  margin-top: 10px;
  background-color: rgb(240,240,240);
  height: 200px;
  border-top-color: rgb(103, 103, 103);
  border-top-style: solid;  
  border-top-width: 1px;
}

.footerSectionWrapper {
  margin: 5% 10%; 
}

.footer .flexSections {
  float: left;
}