
header {
    background-color: white;
}


nav{
    width: 50%;
    display: flex;
    float: right;
    
}


nav a{
    color: black;
    text-decoration:none;
    margin:auto;
}

nav a:hover{
    color: #c4c4c4;
    margin: auto;
}


 #logo{
	 display: block;
     width: 280px;
	 margin: auto;
 }

@media(max-width: 390px){
	#logo{
		width: 40%;
	}
	
	.navMobDropdown #hamburger{
		width: 10%;
        top: -40px;
    }
	
	.navMobDropdown .mobDropdown-content{
		width: 100px;
		font-size: 1em;
		margin: 15% 0 0 0;
	}
} 


 nav{
     display: none;
 }

 #hamburger{
	 position: absolute;
	 width: 40px;
	 padding: 40px 10%;
 }

 .navMobDropdown{
	 display: flex;
	 flex-direction: row;
     position: relative;
     }

 .mobDropdown-content{
     display: none;
	 position: absolute;
     width: 100vw;
     margin: 120px 0 0 0;
     font-size: 150%;
     z-index: 2;
     }



 .mobDropdown-content a{
    width: 100vw;
    text-decoration: none;
    border-bottom: 2px solid #9c9c9c;
    background-color: #e6e6e6;
	display: block;
    padding: 20px 0;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: black;
 }

     
 .navMobDropdown:hover .mobDropdown-content {
    display: block;
 }


 .mobDropdown-content a:hover{
     color: #9c9c9c;
 }

