nav{
    width: 60%;
    display: flex;
    float: right;
    margin-top: 5%;
    
}

#logo{
    width: 30%;
}

nav a{
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: grey;
    text-align: center;
    font-size: 3vw;
    text-decoration:none;
    padding: 2%;
    border-radius: 50px;
    margin:auto;
}

nav a:hover{
    background-color:#3a3a3a;
    opacity: 0.5;
    color: white;
    text-align: center;
    padding: 2%;
    margin: auto;
    border-radius: 50px;
}s