@media screen and (min-width: 1000px){
    /*Background is higher quality*/
    .bg{
    width:100%;
    height: 95vh; 
    min-height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/Home-Featured.jpg");
    display: grid;
    align-items: center;
    margin: auto;
    }

    nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 15px 0 0 0;
    }
    
    #logo{
		display: inline;
        width: 200px;
    }
    
    /*------------Desktop navigation-------------*/
    nav a{
        font-size: 1.5em;
        padding: 0;
    }
    
    nav a:hover{
        padding: 0;
    }
    
    /*Inline horizontal nav*/
    .navDropdown{
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 2px 0 0 37%;
    padding: 20px 150px 25px 0;
    font-size: 1em;
    }
    
    .dropdown-content{
    display: none;
	position: absolute;
    background-color: #e6e6e6;
	width: 100vw;
	height: 90px;    
    top: 70px;  
	left: -68.5vw;
    z-index: 1;
    }
    
    .dropdown-content a{
        display: grid;
        align-items: center;
        text-align: center;
        font-size: 1.5em;
        width: inherit;
        height: inherit;
    }
    
    /*Cursor is normal when hovering on nav more*/
    .navDropdown:hover{
        cursor: default;
    }
    
    .navDropdown:hover .dropdown-content{
        display: flex;
        flex-direction: row;

    }
    
    .dropdown-content a:hover{
        background-color:  #9c9c9c;
        padding: 0;
    }
    
    /*Hamburger icon hidden*/
    #hamburger{
        display: none;
    }
    
    /*Mobile dropdown is hidden*/
    .navMobDropdown{
        display: none;
    }
	
    /*------------Nav end--------------*/
	
    /*Increased font in the home page*/
    .bg #featured1{
        padding: 0;
		font-size: 3.5em;
	}
	
	.bg #featured2{
		font-size: 1.5em;
	}
    
    .bg #learnmore{
        width: 300px;
        font-size: 2em;
    }
	
    #hangOut{
        padding: 5% 2%;
    }
    
    #featuredIcons {
        flex-direction: row;
        max-width: 80%;
        margin: 10px auto;
    }

    #sitemap {
        flex-direction: row;
    }
	/*------------Eating options-------------*/
	 #slogan{
    width: 100vw;
     display: flex;
     flex-direction: row;
     text-align: center;
	 justify-content: center;
	 padding: 2% 0 0 0;
     font-size: 3em;
	}
	
	#heart{
    display: block;
   	margin: 0 5% 0 5%;
    width: 200px;
    height:200px;
	}
    
   .eatImages{
		float: left;
		padding: 0 3%;
        margin: 0 auto 0 auto;
	}

    /*----------Contact Us Page---------------*/
    #flexContact, #flexSections, .flexImages {
        flex-direction: row;
    }
    
    .about{
    width: 40vw;
    }
    
    /*----------Accessibility-----------------*/
    #wrapperAccessibility h1{
        padding: 5% 5% 0 5%;
    }
    
    #wrapperAccessibility ul li{
        font-size: 1.4em;
    }
    
    #wrapperAccessibility #statement{
        padding: 2% 10%;
    }
	
    /*----------Other places and support------*/
    
    #wrapperFeatures .suFeatures{
        flex-direction: row;
    }
    
    #suFeatures {
        display: flex;
        flex-direction: row;
    }
}   
