@media screen and (min-width: 1000px){
    .bg{
    width:100%;
    height: 95vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/Home-Featured.jpg");
    }

    
    nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 15px 0 0 0;
    }
    
    #logo{
		display: inline;
        width: 200px;
    }
    
    nav a{
        font-size: 1.5em;
        padding: 0;
    }
    
    nav a:hover{
        padding: 0;
    }
    
    #hangOut{
        padding: 5% 2%;
    }
    
    #featuredIcons {
        flex-direction: row;
        max-width: 80%;
        margin: 10px auto;
    }

    #sitemap {
        flex-direction: row;
    }

    
    .navDropdown{
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 2px 0 0 37%;
    padding: 20px 150px 25px 0;
    font-size: 1em;
    }
    
    .dropdown-content{
    display: none;
	position: absolute;
    background-color: #e6e6e6;
	width: 100vw;
	height: 90px;    
    top: 70px;  
	left: -70vw;
    padding: 0 7.1%;    
    z-index: 1;
    }
    
    .dropdown-content a{
        font-size: 1.5em;
        padding: 0;
    }

    .navDropdown:hover{
        cursor: default;
    }
    
    .navDropdown:hover .dropdown-content{
        display: flex;
        flex-direction: row;

    }
    
    .dropdown-content a:hover{
        color: #9c9c9c;
        padding: 0;
    }
     
    #hamburger{
        display: none;
    }
     
    .navMobDropdown{
        display: none;
    }
	
	.bg #featured1{
		font-size: 5em;
        margin: 10% auto 0 auto;
	}
	
	.bg #featured2{
		font-size: 3em;
	}
    
    .bg #learnmore{
        width: 350px;
        font-size: 2.5em;
        margin: 5% auto 10% auto;
    }
	
	/*------------Eating options-------------*/
	 #slogan{
    width: 100vw;
     display: flex;
     flex-direction: row;
     text-align: center;
	 justify-content: center;
	 padding: 2% 0 0 0;
     font-size: 3em;
	}
	
	#heart{
    display: block;
   	margin: 0 5% 0 5%;
    width: 200px;
    height:200px;
	}
    
   .eatImages{
		float: left;
		padding: 0 3%;
        margin: 0 auto 0 auto;
	}
    
    .flexEat{
        display: flex;
        flex-direction: row;
        padding: 3% 0;
    }
    
    .eatImages{
        justify-content: flex-start;
    }

    .info{
        justify-content: center;
        width: 60%;
        margin: 0 0 0 4%;
    }
    
    .times{
        justify-content: flex-end;
        width: 20%;
    }

    
    /*----------Support Options---------------*/
    #tagline{
        flex-direction: row;
    }
    
    #tagline p{
        width: auto;
        padding: 0;
        margin: 5px;
    }
    
    #suFeatures {
        display: flex;
        flex-direction: row;

    }

    /*----------Contact Us Page---------------*/
        #flexContact, #flexSections, .flexImages {
        flex-direction: row;
    }
    
    .about{
    width: 40vw;
    }
    
    /*----------Accessibility-----------------*/
    #wrapperAccessibility h1{
        padding: 5% 5% 0 5%;
    }
    
    #statement{
        padding: 2% 10%;
    }
	
    /*----------Other places and support------*/
    
    #wrapperFeatures .suFeatures{
        flex-direction: row;
    }
}   

/*For users with widescreen desktops*/
@media(min-width: 1000px) and (max-height:900px){
    .bg #featured1{
        margin: 25vh auto 0 auto;
		font-size: 10vh;
	}
	
	.bg #featured2{
		font-size: 6vh;
	}
    
    .bg #learnmore{
        width: 50vh;
        font-size: 4vh;
        margin: 0 auto 10% auto;
    }
}