/*for very very small devices*/
@media screen and (max-width:450px) {
		/*--------mobile header--------*/
    .navigation-bar #logo {
        width: 40%;
    }

    .navMobDropdown #hamburger {
       padding-top: 5%;
        width: 7%;
        
    }

    .navMobDropdown .mobDropdown-content {
        width: 100px;
        font-size: 1em;
        margin: 15% 0 0;
    }

    .bg {
        height: 90vh;;
    }
    
    #featured1{
        padding: 30% 2% 2% 0;
        font-size: 1.7em;
    }

    #featured2 {
        padding: 15% 2% 2% 0;
        font-size: 1.5em;
    }

    .bg #learnmore {
        font-size: 1.2em;
        width: 170px;
    }

} 

@font-face{
     font-family: Comfortaa;
     src : url(../fonts/comfortaa.regular.ttf);
}
/*Applying font to the whole page*/
 body, html {
     font-family: "Comfortaa", sans-serif;
     height: 100%;
     margin: 0;
     /*Only works on chrome and firefox*/
     scroll-behavior: smooth;
}

 #wrapperMain{
     background-color: #daecf2;
}
/*Adding background image*/
 .bg{
     width: 100%;
     height: 90vh;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     /*Background of lower quality for mobile users*/
     background-image: url("../images/Home-Featured-min.jpg");
}
/*Styles applied to tagline*/
 #featured1{
     padding: 15% 5% 0 5%;
     color: white;
     display: flex;
     font-size: 3em;
     justify-content: center;
     flex-direction: column;
     text-align: center;
     margin: 0;
}
 #featured2{
     margin: 10% 0 0 0;
     color:white;
     display: flex;
     font-size: 2em;
     justify-content: center;
     flex-direction: column;
     text-align: center;
     letter-spacing: 4px;
}

/*Learn more button*/
 #learnmore {
     display: flex;
     width: 250px;
     font-size: 1.5em;
     background: #d64d4d;
     text-decoration: none;
     color: Black;
     justify-content: center;
     text-align: center;
     border-radius: 230px;
     padding: 1% 0;
     margin: 7% auto;
}

/*firefox shows colors differently*/
@-moz-document url-prefix(){
	#learnmore{
		background: #d64036;
	}
	
	.bg #learnmore:hover{
		background: #e83519;
	}
}
/*button effect for learnmore*/
 #learnmore:hover{
     background: #ce3737;
     color: White;
}

#hangOut{
     margin: auto;
     text-align: center;
     font-size: 3em;
     padding: 12% 2% 5% 2%;
 }


 #featuredIcons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    flex-wrap: wrap;
    margin: 10px 2%;
}

 #featuredIcons> div {
    width: 50%;
    height: 50%; 
    margin: auto;
 }



 .centre {
     display: block;
     margin: auto;
     width: 50%;
     max-width: 120px;
     max-height: 120px;
     transition: transform .3s;
}
 .centre:hover{
     transform: scale(1.1);
}

 #findUS {
	 padding: 2% 0 0 0;
     text-align: center;
}

/*If JavaScript is off*/
#noscript{
    background: url("images/Map.png");
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#noscript span{
	padding: 0 2%;
}

#noscript a{
	text-decoration: none;
	color: black;
    display: inline-block;
}
/*------------------*/

#map {
     height: 400px;
     width: 96vw;
     margin: auto auto 10px auto;
     border-style: solid;
     border-width: 5px;
     border-radius: 3%;
     border-color: rgb(240,240,240);
}

#map p{
	display: flex;
	justify-content: flex-end;
	font-size: 0.7em;
}

