@font-face{
    font-family: Comfortaa;
    src : url(../fonts/comfortaa.regular.ttf);
}

body, html {
    font-family: "Comfortaa", sans-serif;
    height:100%;
    margin:0;
    
}

.bg{
    width:100%;
    height: 700px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%), url("../images/HomeFeatured-min.jpg");

}


#firstnav:hover{
    
}

#featured1{
    padding: 5% 5% 0% 5%;
    color: white;
    display: flex;
    font-size: 4em;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0%;
   
}

#featured2{
    margin-top: 3%;
    color:white;
    display: flex;
    font-size: 2em;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    letter-spacing: 4px;
}

#learnmore {
    display: flex;
    width: 250px;
    font-size: 1.5em;
    background: #d64d4d;
    text-decoration: none;
    color: Black;
    justify-content: center;
    text-align: center;
    border-radius: 230px;
    padding: 1% 0;
    margin: auto;
    margin-top: 10%
}

#learnmore:hover{
    background: #ce3737;
    color: White;
}


#wrapperEatingOptions{
    color: white;
    background-color: black;
    
}

#wrapperEatingOptions a{
    text-decoration: none;
}

#slogan{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-top: 5%;
    font-size: 4em;
    background-color: #4B0000;
    padding-bottom: 5%;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%);

    

    
}

#heart{
    display: flex;
    justify-content: center;
    width: 15vw;
    height:15vw;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    transition: transform .3s ease;
   
}

#heart:hover{
    transform: scale(1.25);
}


#eatImg1, #eatImg2, #eatImg3, #eatImg4{
    display: flex;
    margin: auto;
    width: 30%;
    transition: transform .3s;
    
}



#eatImg4{
    width: 20%;
    margin-top: 5%;
}

#eatImg1:hover{
    transform: scale(1.25);
}

#eatImg2:hover{
    transform: scale(1.25);
}
#eatImg3:hover{
    transform: scale(1.25);
}
#eatImg4:hover{
    transform: scale(1.25);
}


#eatingOptions p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2% 5%;
    text-align: center;
    font-size: 2em;
    
}

.follow{
    background: white;
    width: 30vw;
    margin: auto;
    border-radius: 50px;
    padding: 0.5%;
    color: black;
    font-size: 4vw;
    margin-top: 2%;
    margin-bottom: 5%;
    
}
#eatingOptions a:hover{
    color:white;
    background: grey;
    
}







#checkOut{
    display: flex;
    justify-content: center;
    font-size: 3.3vw;
    margin-top: 5%;
    
}

.iconsFirst, .iconsSecond {
    float: left;
    width: 25%;
    text-align: center;
}

/* Clear floats after the columns */
#featuredIcons:after {
    content: "";
    display: table;
    clear: both;
}

#featuredIcons {
    margin: 10px 2% 10px 2%;
}

.centre {
    display: block;
    margin: auto;
    width: 50%;
    max-width: 120px;
    max-height: 120px;
    transition: transform .3s;
}

.centre:hover{
    transform: scale(1.25);
}

@media screen and (max-width: 1300px) {
    .iconsFirst, .iconsSecond {
        width: 50%;
    }
} 

@media screen and (max-width: 650px) {
    .iconsFirst, .iconsSecond {
        width: 100%;
    }
} 

#findUS h2 {
    text-align: center;
}
#map {
    height: 400px;  /* The height is 400 pixels */
    width: 99%;  /* The width is 99% of the width of the web page */
    margin: auto;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(240,240,240);
}


