/*Setting the font READ ABOUT THIS https://blog.fontspring.com/2011/02/the-new-bulletproof-font-face-syntax*/
 @font-face{
     font-family: Comfortaa;
     src : url(../fonts/comfortaa.regular.ttf);
}
/*Applying font to the whole page*/
 body, html {
     font-family: "Comfortaa", sans-serif;
     height: 100%;
     margin: 0;
     scroll-behavior: smooth;
}
 #wrapperMain{
     background-color: #daecf2;
}
/*Adding background image*/
 .bg{
     width: 100%;
     height: 700px;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     /*Background of lower quality for mobile users*/
     background-image: url("../images/Home-Featured-min.jpg");
}
/*Styles applied to tagline*/
 #featured1{
     padding: 5% 5% 0 5%;
     color: white;
     display: flex;
     font-size: 3em;
     justify-content: center;
     flex-direction: column;
     text-align: center;
     margin: 0;
}
 #featured2{
     margin-top: 3%;
     color:white;
     display: flex;
     font-size: 2em;
     justify-content: center;
     flex-direction: column;
     text-align: center;
     letter-spacing: 4px;
}

/*for very small devices*/
@media(max-width: 390px){	
	.bg{
		height: 400px;
	}
	
	#featured1{
		font-size: 2em;
		}

	#featured2{
		font-size: 1em;
	}
	
	.bg #learnmore{
		font-size: 1em;
		width: 150px;
	}
	
	#featuredIcons #hangOut{
		font-size: 2em;
	}
}

/*Learn more button*/
 #learnmore {
     display: flex;
     width: 250px;
     font-size: 1.5em;
     background: #d64d4d;
     text-decoration: none;
     color: Black;
     justify-content: center;
     text-align: center;
     border-radius: 230px;
     padding: 1% 0;
     margin: auto;
     margin-top: 10% 
}
/*button effect for learnmore*/
 #learnmore:hover{
     background: #ce3737;
     color: White;
}

#hangOut{
     margin: auto;
     text-align: center;
     font-size: 3em;
     padding: 2%;
 }

 .iconsFirst, .iconsSecond {
     float: left;
     width: 25%;
     text-align: center;
}
/* Clear floats after the columns */
 #featuredIcons:after {
     content: "";
     display: table;
     clear: both;
}
 #featuredIcons {
     margin: 10px 2% 10px 2%;
}
 .centre {
     display: block;
     margin: auto;
     width: 50%;
     max-width: 120px;
     max-height: 120px;
     transition: transform .3s;
}
 .centre:hover{
     transform: scale(1.1);
}
 @media screen and (max-width: 1300px) {
     .iconsFirst, .iconsSecond {
         width: 50%;
    }
}
 @media screen and (max-width: 650px) {
     .iconsFirst, .iconsSecond {
         width: 100%;
    }
}
 #findUS {
     text-align: center;
}

/*If JavaScript is off*/
#noscript{
    background: url("/images/Map.png");
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#noscript span{
	padding: 0 2%;
}

#noscript a{
	text-decoration: none;
	color: black;
}
/*------------------*/

#map {
     height: 400px;
    /* The height is 400 pixels */
     width: 99%;
    /* The width is 99% of the width of the web page */
     margin: auto;
     /*border-style: solid;
     border-radius: 10px;
     border-color: rgb(240,240,240);*/
}

#map p{
	display: flex;
	justify-content: flex-end;
	font-size: 0.7em;
}

