@media screen and (max-width: 770px) {
    #flexSections {
        align-items: center;
    }

    #flexContact, #flexSections, .flexImages {
        flex-direction: column;
    }

    form {
     max-width: 80%;
	}
}