@media(max-width: 770px) {
   
    .flexSections{
        align-items: center;
        flex-direction: column;
    }

    #flexContact {

   		flex-direction: column;
	}

	.flexImages {
    flex-direction: column;
	}

	
}