@media(min-width: 300px) and{
    nav{
        margin-top: 7%;
        margin-left:40%;
    }
    
    nav a{
        font-size: 10%;
    }
    
    #Logo{
        width: 40%;
        margin: auto;
    }
}