/*for very very small devices*/
@media screen and (max-width: 450px) {
    /*--------mobile header--------*/
    .navigation-bar #logo {
        width: 40%;
    }
    .navMobDropdown #hamburger {
        padding-top: 5%;
        width: 7%;
    }
    .navMobDropdown .mobDropdown-content {
        width: 100px;
        font-size: 1em;
        margin: 15% 0 0;
    }
    .bg {
        height: 90vh;
        min-height: 700px
    }
    .bg #learnmore{
        width: 50vw;
        font-size: 5vw;
    }
    /* footer */
    #sitemap {
        flex-direction: column;
    }
}