@font-face{
    font-family: Comfortaa;
    src : url(comfortaa.regular.ttf);
}

body, html {
    font-family: "Comfortaa", sans-serif;
    height:100%;
    margin:0;
    
}



.bg{
    background-image: url("HomeFeaturedCOM1008.jpg");
    height: 700px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%), url("HomeFeaturedCOM1008.jpg")

}

/*Setting the logo size*/

#logo{
    width: 25%;
    padding-top: 2.1%;
    margin: auto;
}


.flex-Nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

nav{
    width: 70%;
    padding-top: 7%;

}

nav a{
    color: white;
    font-size: 2em;
    text-decoration:none;
    padding: 0% 3%;
   
}

#featured1{
    color: white;
    display: flex;
    font-size: 4em;
    justify-content: center;
    margin-top:10%;
}

#featured2{
    margin-top: 7%;
    color:white;
    display: flex;
    font-size: 2em;
    justify-content: center;
    letter-spacing: 3px;
}

#learnmore {
    display: flex;
    width: 20%;
    font-size: 2em;
    background: #ff744d;
    text-decoration: none;
    color: black;
    justify-content: center;
    border-radius: 230px;
    padding: 0.5% 0;
    margin: auto;
}
